@font-face {
    font-family: 'Lato-Regular';
    src: url(/fonts/Lato-Regular.woff2);
}

@font-face {
    font-family: 'Lato-Bold';
    src: url(/fonts/Lato-Bold.woff2);
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


.container{
    display: grid;
    grid-template-columns: 5% 20% 60% 15%;
}

/* Group-bar */

.group-bar{
    background: linear-gradient(20deg, #000000, #444444 );
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.dots{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.dots .red{
    border-radius: 50%;
    width: 12px;
    cursor: pointer;
    height: 12px;
    background-color: red;
}

.dots .yellow{
    border-radius: 50%;
    width: 12px;
    cursor: pointer;
    height: 12px;
    background-color: orange;
}

.dots .green{
    border-radius: 50%;
    width: 12px;
    cursor: pointer;
    height: 12px;
    background-color: green;
}

.group-img-active:hover{
    transform: scale(1.1);
}

.group-img img{
    cursor: pointer;
    transition: .4s;
    padding-left: 3px;
}

.group-img img:hover{
    transform: scale(1.1);
}


/* Group-bar end */

/* Channel-bar */

.channel-bar{
    background: linear-gradient(390deg, #25272A, #555555 );
    display: flex;
    flex-direction: column;
    padding: 36px 24px;
    font-family: 'Lato';
    overflow: auto;
    height: 100vh;
}

.channel-top-side{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.left-side{
    display: inline-flex;
    gap: 10px;
    color: white;
    align-items: center;
}

.left-side img{
    width: 11px;
    height: 8px;
    cursor: pointer;
}

.right-side img{
    width: 16px;
    cursor: pointer;
}
.treads-left-side{
    display: flex;
    align-items: center;
    gap: 10px;
    color: #B5B5B5;
    padding-top: 30px;
    cursor: pointer;
    transition: .4s;
}

.treads-left-side:hover{
    color: white;
}

.channels-top{
    display: flex;
    justify-content: space-between;
    padding-top: 32px;
    font-size: 12px;
    color: #919191;
    font-family: 'Lato';
    font-weight: 700;
}
.channels-list{
    list-style-type: none;
}

.channels-item-active p{
    margin: 12px 24px;
    color: white;
    height: 30px;
    width: 243px;
    align-items: center;
    background-color: rgba(0, 0, 0, .2);
    border-radius: 8px;
    display: flex;
    justify-content: start;
    
}

.channels-item{
    padding: 12px 24px;
    color: #B5B5B5;
}
.channels-item p{
    cursor: pointer;
    font-family: 'Lato';
    font-weight: 700;
}
.friends-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 12px;
    font-weight: 700;
    color: #919191;
    padding-top: 17px;
}

.friends-list{
    list-style-type: none;
    padding: 32px 0 0 0; 
}

.circle{
    border-radius: 50%;
    background-color: greenyellow;
    height: 10px;
    width: 10px;
}
.circle-gray{
    border-radius: 50%;
    background-color: #444444;
    height: 10px;
    width: 10px;
}
.friends-list{
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.friend-item{
    display: inline-flex;
    align-items: center;
    gap: 10px;
}

.friend-item p{
    color: #B5B5B5 ;
    font-size: 14px;
    font-family: 'Lato-Regular';
    letter-spacing: .5px;
    padding-left: 10px;
    cursor: pointer;
}
.friend-item img{
    width: 32px;
    height: 32px;
    border-radius: 6px;
}
/* Channel-bar end */

/* Chat-bar */

.chat-bar{
    background-color: white;
    overflow: auto;
}

.chat-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 35px 22px 20px 22px;
    border-bottom: rgba(0, 0, 0, 0.2) 1px solid;
}

.chat-left{
    display: inline-flex;
    gap: 5px;
}
.chat-left p{
    font-size: 20px;
    font-weight: 700;
    font-family: 'Lato';
}

.chat-right{
    display: inline-flex;
    gap: 24px;
    font-size: 14px;
    font-family: 'Lato-Regular';
    color: #A4A4A4;
    align-items: center;
}

.search-bar input{
    width: 241px;
    height: 33px;
    border: 0.5px solid rgba(0, 0, 0, 0.24);
    border-radius: 5px;
    padding-left: 16px;
}

.chat-right img{
    cursor: pointer;
}

.chat-middle{
    padding: 24px 20px 24px 20px;
}

.photo img{
    width: 32px;
    height: 32px;
    border-radius: 3px;
    cursor: pointer;
}

.data{
    display: flex;
    align-items: center;
    gap: 8px;
}
.data p{
    font-family: 'Lato';
    font-weight: 900;
    font-size: 13px;
}
.info-container{
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.data span{
    color: #8D8D8D;
    font-family: 'Lato';
    font-weight: 400;
    font-size: 13px;
}
.jeshua-mess p{
    font-family: 'Lato';
    font-weight: 700;
    font-size: 13px;
    color: #3577EF;
}
.jeshua{
    display: flex;
    gap: 20px;
    align-items: center;
}
.harold-mess p{
    font-family: 'Lato';
    font-weight: 700;
    font-size: 13px;
    color: #3577EF;
}
.harold-mess span{
    font-family: 'Lato';
    font-weight: 600;
    font-size: 13px;
}
.harold{
    display: flex;
    gap: 20px;
}
.aada-mess p{
    font-family: 'Lato';
    font-weight: 700;
    font-size: 13px;
    color: #3577EF;
}
.aada{
    display: flex;
    gap: 20px;
    align-items: center;
}
.nala-mess p{
    font-family: 'Lato';
    font-weight: 700;
    font-size: 13px;
}
.nala{
    display: flex;
    gap: 20px;
}
.ramon-mess a{
    font-family: 'Lato';
    font-weight: 700;
    font-size: 13px;
    color: #3577EF;
    cursor: pointer;
}
.ramon-mess span{
    font-family: 'Lato';
    font-weight: 700;
    font-size: 13px;
}
.ramon{
    display: flex;
    gap: 20px;
}
.stroke{
    width: 100%; 
    text-align: center; 
    border-bottom: 1px solid rgba(0, 0, 0, .2); 
    line-height: 0.1em;
    margin: 14px 0 20px;
}
.stroke p{
    color: #8D8D8D;
    background-color: white;
}
.ramon{
    margin-top: 2%;
}
.chat-window{
    display: flex;
    justify-content: space-between;
    padding: 24px 20px 24px 20px;
    margin-top: 15vh;
}
.chat-window img{
    cursor: pointer;
}
.chat-left{
    gap: 20px;
}
.chat-left img{
    cursor: pointer;
}
.chat-left input{
    width: 100vh;
    height: 3vh;
    border: 0;
}
.profile-bar img{
    width: 288px;
    height: 288px;
}

/* Chat-bar end*/

/* Profile-bar */

.profile-bar{
    background-color: red;
}

.profile-social img{
    width: 15px;
    height: 15px;
}

/* Profile-bar end */